trunk/l2jdm-datapack/data/templates/aug_skillmap.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Root -->
<!ELEMENT list (augmentation)+>

<!-- Augmentation -->
<!ATTLIST augmentation id CDATA #REQUIRED>
<!ELEMENT augmentation (skillId,skillLevel,type)>

<!-- Skill ID -->
<!ATTLIST skillId val CDATA #REQUIRED>
<!ELEMENT skillId EMPTY>
<!-- Skill level -->
<!ATTLIST skillLevel val CDATA #REQUIRED>
<!ELEMENT skillLevel EMPTY>

<!-- Augmentation glow color -->
<!ATTLIST type val (blue|purple|red) #REQUIRED>
<!ELEMENT type EMPTY>
