l2jdm-datapack/data/templates/pet_call_items.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Root -->
<!ELEMENT list (item)+>

<!-- Item -->
<!ATTLIST item id CDATA #REQUIRED>
<!ELEMENT item (npcId, summonType)>

<!ATTLIST npcId val CDATA #REQUIRED>
<!ELEMENT npcId EMPTY>
<!ATTLIST summonType val CDATA #REQUIRED>
<!ELEMENT summonType EMPTY>
