l2jdm-login/src/test/resources/com/l2jfree/loginserver/dao/impl/database/l2jdb.dtd

<!ELEMENT dataset (
    account_data*,
    accounts*,
    armor*,
    auction*,
    auction_bid*,
    auto_chat*,
    auto_chat_text*,
    boxaccess*,
    boxes*,
    castle*,
    castle_door*,
    castle_doorupgrade*,
    castle_manor_procure*,
    castle_manor_production*,
    castle_siege_guards*,
    changelog*,
    changelog_seq*,
    char_templates*,
    character_friends*,
    character_hennas*,
    character_macroses*,
    character_quests*,
    character_recipebook*,
    character_shortcuts*,
    character_skills*,
    character_skills_save*,
    character_subclasses*,
    characters*,
    clan_data*,
    clan_privs*,
    clan_skills*,
    clan_subpledges*,
    clan_wars*,
    clanhall*,
    clanhall_functions*,
    class_list*,
    connection_test_table*,
    cursed_weapons*,
    droplist*,
    enchant_skill_trees*,
    etcitem*,
    fish*,
    fishing_skill_trees*,
    fishreward*,
    forums*,
    games*,
    gameservers*,
    global_tasks*,
    gm_audit*,
    helper_buff_list*,
    henna*,
    henna_trees*,
    heroes*,
    items*,
    itemsonground*,
    locations*,
    lvlupgain*,
    mapregion*,
    merchant_areas_list*,
    merchant_buylists*,
    merchant_lease*,
    merchant_shopids*,
    merchants*,
    minions*,
    npc*,
    npcskills*,
    olympiad_nobles*,
    petitions*,
    pets*,
    pets_stats*,
    pledge_skill_trees*,
    posts*,
    raidboss_spawnlist*,
    random_spawn*,
    random_spawn_loc*,
    record*,
    seven_signs*,
    seven_signs_festival*,
    seven_signs_status*,
    siege_clans*,
    skill_learn*,
    skill_spellbooks*,
    skill_trees*,
    spawnlist*,
    teleport*,
    temporaryobjecttable*,
    topic*,
    weapon*,
    zariche*,
    zone*)>

<!ELEMENT account_data EMPTY>
<!ATTLIST account_data
    account_name CDATA #REQUIRED
    var CDATA #REQUIRED
    value CDATA #IMPLIED
>

<!ELEMENT accounts EMPTY>
<!ATTLIST accounts
    login CDATA #REQUIRED
    password CDATA #IMPLIED
    lastactive CDATA #IMPLIED
    accessLevel CDATA #IMPLIED
    lastIP CDATA #IMPLIED
>

<!ELEMENT armor EMPTY>
<!ATTLIST armor
    item_id CDATA #REQUIRED
    name CDATA #IMPLIED
    bodypart CDATA #REQUIRED
    crystallizable CDATA #REQUIRED
    armor_type CDATA #REQUIRED
    weight CDATA #REQUIRED
    material CDATA #REQUIRED
    crystal_type CDATA #REQUIRED
    avoid_modify CDATA #REQUIRED
    durability CDATA #REQUIRED
    p_def CDATA #REQUIRED
    m_def CDATA #REQUIRED
    mp_bonus CDATA #REQUIRED
    price CDATA #REQUIRED
    crystal_count CDATA #IMPLIED
    sellable CDATA #IMPLIED
>

<!ELEMENT auction EMPTY>
<!ATTLIST auction
    id CDATA #REQUIRED
    sellerId CDATA #REQUIRED
    sellerName CDATA #REQUIRED
    sellerClanName CDATA #REQUIRED
    itemType CDATA #REQUIRED
    itemId CDATA #REQUIRED
    itemObjectId CDATA #REQUIRED
    itemName CDATA #REQUIRED
    itemQuantity CDATA #REQUIRED
    startingBid CDATA #REQUIRED
    currentBid CDATA #REQUIRED
    endDate CDATA #REQUIRED
>

<!ELEMENT auction_bid EMPTY>
<!ATTLIST auction_bid
    id CDATA #REQUIRED
    auctionId CDATA #REQUIRED
    bidderId CDATA #REQUIRED
    bidderName CDATA #REQUIRED
    maxBid CDATA #REQUIRED
    clan_name CDATA #REQUIRED
    time_bid CDATA #REQUIRED
>

<!ELEMENT auto_chat EMPTY>
<!ATTLIST auto_chat
    groupId CDATA #REQUIRED
    npcId CDATA #REQUIRED
    chatDelay CDATA #REQUIRED
>

<!ELEMENT auto_chat_text EMPTY>
<!ATTLIST auto_chat_text
    groupId CDATA #REQUIRED
    chatText CDATA #REQUIRED
>

<!ELEMENT boxaccess EMPTY>
<!ATTLIST boxaccess
    spawn CDATA #IMPLIED
    charname CDATA #IMPLIED
>

<!ELEMENT boxes EMPTY>
<!ATTLIST boxes
    id CDATA #REQUIRED
    spawn CDATA #IMPLIED
    npcid CDATA #IMPLIED
    drawer CDATA #IMPLIED
    itemid CDATA #IMPLIED
    name CDATA #IMPLIED
    count CDATA #IMPLIED
    enchant CDATA #IMPLIED
>

<!ELEMENT castle EMPTY>
<!ATTLIST castle
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    taxPercent CDATA #REQUIRED
    treasury CDATA #REQUIRED
    siegeDate CDATA #REQUIRED
    siegeDayOfWeek CDATA #REQUIRED
    siegeHourOfDay CDATA #REQUIRED
>

<!ELEMENT castle_door EMPTY>
<!ATTLIST castle_door
    castleId CDATA #REQUIRED
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED
    hp CDATA #REQUIRED
    pDef CDATA #REQUIRED
    mDef CDATA #REQUIRED
>

<!ELEMENT castle_doorupgrade EMPTY>
<!ATTLIST castle_doorupgrade
    doorId CDATA #REQUIRED
    hp CDATA #REQUIRED
    pDef CDATA #REQUIRED
    mDef CDATA #REQUIRED
>

<!ELEMENT castle_manor_procure EMPTY>
<!ATTLIST castle_manor_procure
    castle_id CDATA #REQUIRED
    crop_id CDATA #REQUIRED
    can_buy CDATA #REQUIRED
    reward_type CDATA #REQUIRED
>

<!ELEMENT castle_manor_production EMPTY>
<!ATTLIST castle_manor_production
    castle_id CDATA #REQUIRED
    can_produce CDATA #REQUIRED
    seed_id CDATA #REQUIRED
    seed_price CDATA #REQUIRED
>

<!ELEMENT castle_siege_guards EMPTY>
<!ATTLIST castle_siege_guards
    castleId CDATA #REQUIRED
    id CDATA #REQUIRED
    npcId CDATA #REQUIRED
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED
    heading CDATA #REQUIRED
    respawnDelay CDATA #REQUIRED
    isHired CDATA #REQUIRED
>

<!ELEMENT changelog EMPTY>
<!ATTLIST changelog
    IDC CDATA #REQUIRED
    origine CDATA #IMPLIED
    changeset CDATA #IMPLIED
    title CDATA #IMPLIED
    pubDate CDATA #IMPLIED
    description CDATA #IMPLIED
>

<!ELEMENT changelog_seq EMPTY>
<!ATTLIST changelog_seq
    sequence CDATA #REQUIRED
>

<!ELEMENT char_templates EMPTY>
<!ATTLIST char_templates
    ClassId CDATA #REQUIRED
    ClassName CDATA #REQUIRED
    RaceId CDATA #REQUIRED
    STR CDATA #REQUIRED
    CON CDATA #REQUIRED
    DEX CDATA #REQUIRED
    _INT CDATA #REQUIRED
    WIT CDATA #REQUIRED
    MEN CDATA #REQUIRED
    P_ATK CDATA #REQUIRED
    P_DEF CDATA #REQUIRED
    M_ATK CDATA #REQUIRED
    M_DEF CDATA #REQUIRED
    P_SPD CDATA #REQUIRED
    M_SPD CDATA #REQUIRED
    ACC CDATA #REQUIRED
    CRITICAL CDATA #REQUIRED
    EVASION CDATA #REQUIRED
    MOVE_SPD CDATA #REQUIRED
    _LOAD CDATA #REQUIRED
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED
    canCraft CDATA #REQUIRED
    M_UNK1 CDATA #REQUIRED
    M_UNK2 CDATA #REQUIRED
    M_COL_R CDATA #REQUIRED
    M_COL_H CDATA #REQUIRED
    F_UNK1 CDATA #REQUIRED
    F_UNK2 CDATA #REQUIRED
    F_COL_R CDATA #REQUIRED
    F_COL_H CDATA #REQUIRED
    items1 CDATA #REQUIRED
    items2 CDATA #REQUIRED
    items3 CDATA #REQUIRED
    items4 CDATA #REQUIRED
    items5 CDATA #REQUIRED
>

<!ELEMENT character_friends EMPTY>
<!ATTLIST character_friends
    char_id CDATA #REQUIRED
    friend_id CDATA #REQUIRED
    friend_name CDATA #REQUIRED
>

<!ELEMENT character_hennas EMPTY>
<!ATTLIST character_hennas
    char_obj_id CDATA #REQUIRED
    symbol_id CDATA #IMPLIED
    slot CDATA #REQUIRED
    class_index CDATA #REQUIRED
>

<!ELEMENT character_macroses EMPTY>
<!ATTLIST character_macroses
    char_obj_id CDATA #REQUIRED
    id CDATA #REQUIRED
    icon CDATA #IMPLIED
    name CDATA #IMPLIED
    descr CDATA #IMPLIED
    acronym CDATA #IMPLIED
    commands CDATA #IMPLIED
>

<!ELEMENT character_quests EMPTY>
<!ATTLIST character_quests
    char_id CDATA #REQUIRED
    name CDATA #REQUIRED
    var CDATA #REQUIRED
    value CDATA #IMPLIED
    class_index CDATA #REQUIRED
>

<!ELEMENT character_recipebook EMPTY>
<!ATTLIST character_recipebook
    char_id CDATA #REQUIRED
    id CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT character_shortcuts EMPTY>
<!ATTLIST character_shortcuts
    char_obj_id CDATA #REQUIRED
    slot CDATA #REQUIRED
    page CDATA #REQUIRED
    type CDATA #IMPLIED
    shortcut_id CDATA #IMPLIED
    level CDATA #IMPLIED
    class_index CDATA #REQUIRED
>

<!ELEMENT character_skills EMPTY>
<!ATTLIST character_skills
    char_obj_id CDATA #REQUIRED
    skill_id CDATA #REQUIRED
    skill_level CDATA #IMPLIED
    skill_name CDATA #IMPLIED
    class_index CDATA #REQUIRED
>

<!ELEMENT character_skills_save EMPTY>
<!ATTLIST character_skills_save
    char_obj_id CDATA #REQUIRED
    skill_id CDATA #REQUIRED
    skill_level CDATA #REQUIRED
    effect_count CDATA #REQUIRED
    effect_cur_time CDATA #REQUIRED
    reuse_delay CDATA #REQUIRED
    restore_type CDATA #REQUIRED
    class_index CDATA #REQUIRED
>

<!ELEMENT character_subclasses EMPTY>
<!ATTLIST character_subclasses
    char_obj_id CDATA #REQUIRED
    class_id CDATA #REQUIRED
    exp CDATA #REQUIRED
    sp CDATA #REQUIRED
    level CDATA #REQUIRED
    class_index CDATA #REQUIRED
>

<!ELEMENT characters EMPTY>
<!ATTLIST characters
    account_name CDATA #IMPLIED
    obj_Id CDATA #REQUIRED
    char_name CDATA #REQUIRED
    level CDATA #IMPLIED
    maxHp CDATA #IMPLIED
    curHp CDATA #IMPLIED
    maxCp CDATA #IMPLIED
    curCp CDATA #IMPLIED
    maxMp CDATA #IMPLIED
    curMp CDATA #IMPLIED
    acc CDATA #IMPLIED
    crit CDATA #IMPLIED
    evasion CDATA #IMPLIED
    mAtk CDATA #IMPLIED
    mDef CDATA #IMPLIED
    mSpd CDATA #IMPLIED
    pAtk CDATA #IMPLIED
    pDef CDATA #IMPLIED
    pSpd CDATA #IMPLIED
    runSpd CDATA #IMPLIED
    walkSpd CDATA #IMPLIED
    str CDATA #IMPLIED
    con CDATA #IMPLIED
    dex CDATA #IMPLIED
    _int CDATA #IMPLIED
    men CDATA #IMPLIED
    wit CDATA #IMPLIED
    face CDATA #IMPLIED
    hairStyle CDATA #IMPLIED
    hairColor CDATA #IMPLIED
    sex CDATA #IMPLIED
    heading CDATA #IMPLIED
    x CDATA #IMPLIED
    y CDATA #IMPLIED
    z CDATA #IMPLIED
    movement_multiplier CDATA #IMPLIED
    attack_speed_multiplier CDATA #IMPLIED
    colRad CDATA #IMPLIED
    colHeight CDATA #IMPLIED
    exp CDATA #IMPLIED
    sp CDATA #IMPLIED
    karma CDATA #IMPLIED
    pvpkills CDATA #IMPLIED
    pkkills CDATA #IMPLIED
    clanid CDATA #IMPLIED
    maxload CDATA #IMPLIED
    race CDATA #IMPLIED
    classid CDATA #IMPLIED
    base_class CDATA #REQUIRED
    deletetime CDATA #IMPLIED
    cancraft CDATA #IMPLIED
    title CDATA #IMPLIED
    allyId CDATA #IMPLIED
    rec_have CDATA #REQUIRED
    rec_left CDATA #REQUIRED
    accesslevel CDATA #IMPLIED
    online CDATA #IMPLIED
    char_slot CDATA #IMPLIED
    newbie CDATA #IMPLIED
    lastAccess CDATA #IMPLIED
    clan_privs CDATA #IMPLIED
    wantspeace CDATA #IMPLIED
    deleteclan CDATA #IMPLIED
    isin7sdungeon CDATA #REQUIRED
    onlinetime CDATA #IMPLIED
    in_jail CDATA #IMPLIED
    jail_timer CDATA #IMPLIED
    nobless CDATA #IMPLIED
    varka CDATA #IMPLIED
    ketra CDATA #IMPLIED
    equiped_with_zariche CDATA #REQUIRED
    zariche_pk CDATA #REQUIRED
    zariche_time CDATA #REQUIRED
    Pledge_class CDATA #REQUIRED
    pledge_type CDATA #REQUIRED
    pledge_rank CDATA #REQUIRED
    apprentice CDATA #REQUIRED
    accademy_lvl CDATA #REQUIRED
>

<!ELEMENT clan_data EMPTY>
<!ATTLIST clan_data
    clan_id CDATA #REQUIRED
    clan_name CDATA #IMPLIED
    clan_level CDATA #IMPLIED
    hasCastle CDATA #IMPLIED
    hasHideout CDATA #IMPLIED
    ally_id CDATA #IMPLIED
    ally_name CDATA #IMPLIED
    leader_id CDATA #IMPLIED
    crest_id CDATA #IMPLIED
    crest_large_id CDATA #IMPLIED
    ally_crest_id CDATA #IMPLIED
    reputation_score CDATA #REQUIRED
    rank CDATA #REQUIRED
    auction_bid_at CDATA #REQUIRED
>

<!ELEMENT clan_privs EMPTY>
<!ATTLIST clan_privs
    clan_id CDATA #REQUIRED
    rank CDATA #REQUIRED
    party CDATA #REQUIRED
    privilleges CDATA #REQUIRED
>

<!ELEMENT clan_skills EMPTY>
<!ATTLIST clan_skills
    clan_id CDATA #REQUIRED
    skill_id CDATA #REQUIRED
    skill_level CDATA #REQUIRED
    skill_name CDATA #IMPLIED
>

<!ELEMENT clan_subpledges EMPTY>
<!ATTLIST clan_subpledges
    clan_id CDATA #REQUIRED
    sub_pledge_id CDATA #REQUIRED
    name CDATA #IMPLIED
    leader_name CDATA #IMPLIED
>

<!ELEMENT clan_wars EMPTY>
<!ATTLIST clan_wars
    clan1 CDATA #REQUIRED
    clan2 CDATA #REQUIRED
    wantspeace1 CDATA #REQUIRED
    wantspeace2 CDATA #REQUIRED
>

<!ELEMENT clanhall EMPTY>
<!ATTLIST clanhall
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    ownerId CDATA #REQUIRED
    lease CDATA #REQUIRED
    desc CDATA #REQUIRED
    location CDATA #REQUIRED
    paidUntil CDATA #REQUIRED
    Grade CDATA #REQUIRED
>

<!ELEMENT clanhall_functions EMPTY>
<!ATTLIST clanhall_functions
    hall_id CDATA #REQUIRED
    type CDATA #REQUIRED
    lvl CDATA #REQUIRED
    lease CDATA #REQUIRED
    rate CDATA #REQUIRED
    endTime CDATA #REQUIRED
    inDebt CDATA #REQUIRED
>

<!ELEMENT class_list EMPTY>
<!ATTLIST class_list
    class_name CDATA #REQUIRED
    id CDATA #REQUIRED
    parent_id CDATA #REQUIRED
>

<!ELEMENT connection_test_table EMPTY>
<!ATTLIST connection_test_table
    a CDATA #IMPLIED
>

<!ELEMENT cursed_weapons EMPTY>
<!ATTLIST cursed_weapons
    itemId CDATA #REQUIRED
    playerId CDATA #IMPLIED
    playerKarma CDATA #IMPLIED
    playerPkKills CDATA #IMPLIED
    nbKills CDATA #IMPLIED
    endTime CDATA #IMPLIED
>

<!ELEMENT droplist EMPTY>
<!ATTLIST droplist
    mobId CDATA #REQUIRED
    itemId CDATA #REQUIRED
    min CDATA #REQUIRED
    max CDATA #REQUIRED
    sweep CDATA #REQUIRED
    chance CDATA #REQUIRED
>

<!ELEMENT enchant_skill_trees EMPTY>
<!ATTLIST enchant_skill_trees
    skill_id CDATA #REQUIRED
    level CDATA #REQUIRED
    name CDATA #REQUIRED
    base_lvl CDATA #REQUIRED
    enchant_type CDATA #IMPLIED
    sp CDATA #REQUIRED
    exp CDATA #IMPLIED
    min_skill_lvl CDATA #REQUIRED
    success_rate CDATA #REQUIRED
>

<!ELEMENT etcitem EMPTY>
<!ATTLIST etcitem
    item_id CDATA #REQUIRED
    name CDATA #IMPLIED
    crystallizable CDATA #IMPLIED
    item_type CDATA #IMPLIED
    weight CDATA #IMPLIED
    consume_type CDATA #IMPLIED
    material CDATA #IMPLIED
    crystal_type CDATA #IMPLIED
    durability CDATA #IMPLIED
    price CDATA #IMPLIED
    crystal_count CDATA #IMPLIED
    sellable CDATA #IMPLIED
    oldname CDATA #REQUIRED
    oldtype CDATA #REQUIRED
    drop_category CDATA #REQUIRED
>

<!ELEMENT fish EMPTY>
<!ATTLIST fish
    id CDATA #REQUIRED
    level CDATA #REQUIRED
    name CDATA #REQUIRED
    hp CDATA #REQUIRED
    hpregen CDATA #REQUIRED
    type CDATA #REQUIRED
    speed CDATA #IMPLIED
>

<!ELEMENT fishing_skill_trees EMPTY>
<!ATTLIST fishing_skill_trees
    skill_id CDATA #REQUIRED
    level CDATA #REQUIRED
    name CDATA #REQUIRED
    sp CDATA #REQUIRED
    min_level CDATA #REQUIRED
    costid CDATA #REQUIRED
    cost CDATA #REQUIRED
    isfordwarf CDATA #REQUIRED
>

<!ELEMENT fishreward EMPTY>
<!ATTLIST fishreward
    fishid CDATA #REQUIRED
    rewardid CDATA #REQUIRED
    count CDATA #REQUIRED
    minchance CDATA #REQUIRED
    maxchance CDATA #REQUIRED
>

<!ELEMENT forums EMPTY>
<!ATTLIST forums
    forum_id CDATA #REQUIRED
    forum_name CDATA #REQUIRED
    forum_parent CDATA #REQUIRED
    forum_post CDATA #REQUIRED
    forum_type CDATA #REQUIRED
    forum_perm CDATA #REQUIRED
    forum_owner_id CDATA #REQUIRED
>

<!ELEMENT games EMPTY>
<!ATTLIST games
    id CDATA #REQUIRED
    idnr CDATA #REQUIRED
    number1 CDATA #REQUIRED
    number2 CDATA #REQUIRED
    prize CDATA #REQUIRED
    newprize CDATA #REQUIRED
    prize1 CDATA #REQUIRED
    prize2 CDATA #REQUIRED
    prize3 CDATA #REQUIRED
    enddate CDATA #REQUIRED
    finished CDATA #REQUIRED
>

<!ELEMENT gameservers EMPTY>
<!ATTLIST gameservers
    server_id CDATA #REQUIRED
    hexid CDATA #REQUIRED
    host CDATA #REQUIRED
>

<!ELEMENT global_tasks EMPTY>
<!ATTLIST global_tasks
    id CDATA #REQUIRED
    task CDATA #REQUIRED
    type CDATA #REQUIRED
    last_activation CDATA #REQUIRED
    param1 CDATA #REQUIRED
    param2 CDATA #REQUIRED
    param3 CDATA #REQUIRED
>

<!ELEMENT gm_audit EMPTY>
<!ATTLIST gm_audit
    ID_ACTION_AUDIT CDATA #REQUIRED
    GM_NAME CDATA #IMPLIED
    ACTION CDATA #IMPLIED
    TARGET CDATA #IMPLIED
    PARAM CDATA #IMPLIED
    DATE CDATA #IMPLIED
>

<!ELEMENT helper_buff_list EMPTY>
<!ATTLIST helper_buff_list
    id CDATA #REQUIRED
    skill_id CDATA #REQUIRED
    name CDATA #REQUIRED
    skill_level CDATA #REQUIRED
    lower_level CDATA #REQUIRED
    upper_level CDATA #REQUIRED
    is_magic_class CDATA #IMPLIED
>

<!ELEMENT henna EMPTY>
<!ATTLIST henna
    symbol_id CDATA #REQUIRED
    symbol_name CDATA #IMPLIED
    dye_id CDATA #IMPLIED
    dye_amount CDATA #IMPLIED
    price CDATA #IMPLIED
    stat_INT CDATA #IMPLIED
    stat_STR CDATA #IMPLIED
    stat_CON CDATA #IMPLIED
    stat_MEM CDATA #IMPLIED
    stat_DEX CDATA #IMPLIED
    stat_WIT CDATA #IMPLIED
>

<!ELEMENT henna_trees EMPTY>
<!ATTLIST henna_trees
    class_id CDATA #REQUIRED
    symbol_id CDATA #REQUIRED
>

<!ELEMENT heroes EMPTY>
<!ATTLIST heroes
    char_id CDATA #REQUIRED
    char_name CDATA #REQUIRED
    class_id CDATA #REQUIRED
    count CDATA #REQUIRED
    played CDATA #REQUIRED
>

<!ELEMENT items EMPTY>
<!ATTLIST items
    owner_id CDATA #IMPLIED
    object_id CDATA #REQUIRED
    item_id CDATA #IMPLIED
    count CDATA #IMPLIED
    enchant_level CDATA #IMPLIED
    loc CDATA #IMPLIED
    loc_data CDATA #IMPLIED
    price_sell CDATA #IMPLIED
    price_buy CDATA #IMPLIED
    time_of_use CDATA #IMPLIED
    custom_type1 CDATA #IMPLIED
    custom_type2 CDATA #IMPLIED
>

<!ELEMENT itemsonground EMPTY>
<!ATTLIST itemsonground
    object_id CDATA #REQUIRED
    item_id CDATA #IMPLIED
    count CDATA #IMPLIED
    enchant_level CDATA #IMPLIED
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED
    drop_time CDATA #REQUIRED
>

<!ELEMENT locations EMPTY>
<!ATTLIST locations
    loc_id CDATA #REQUIRED
    loc_x CDATA #REQUIRED
    loc_y CDATA #REQUIRED
    loc_zmin CDATA #REQUIRED
    loc_zmax CDATA #REQUIRED
    proc CDATA #REQUIRED
>

<!ELEMENT lvlupgain EMPTY>
<!ATTLIST lvlupgain
    classid CDATA #REQUIRED
    defaulthpbase CDATA #REQUIRED
    defaulthpadd CDATA #REQUIRED
    defaulthpmod CDATA #REQUIRED
    defaultcpbase CDATA #REQUIRED
    defaultcpadd CDATA #REQUIRED
    defaultcpmod CDATA #REQUIRED
    defaultmpbase CDATA #REQUIRED
    defaultmpadd CDATA #REQUIRED
    defaultmpmod CDATA #REQUIRED
    class_lvl CDATA #REQUIRED
>

<!ELEMENT mapregion EMPTY>
<!ATTLIST mapregion
    region CDATA #REQUIRED
    sec0 CDATA #REQUIRED
    sec1 CDATA #REQUIRED
    sec2 CDATA #REQUIRED
    sec3 CDATA #REQUIRED
    sec4 CDATA #REQUIRED
    sec5 CDATA #REQUIRED
    sec6 CDATA #REQUIRED
    sec7 CDATA #REQUIRED
    sec8 CDATA #REQUIRED
    sec9 CDATA #REQUIRED
>

<!ELEMENT merchant_areas_list EMPTY>
<!ATTLIST merchant_areas_list
    merchant_area_id CDATA #REQUIRED
    merchant_area_name CDATA #REQUIRED
    tax CDATA #REQUIRED
    Chaotic CDATA #REQUIRED
>

<!ELEMENT merchant_buylists EMPTY>
<!ATTLIST merchant_buylists
    item_id CDATA #REQUIRED
    price CDATA #REQUIRED
    shop_id CDATA #REQUIRED
    order CDATA #REQUIRED
>

<!ELEMENT merchant_lease EMPTY>
<!ATTLIST merchant_lease
    merchant_id CDATA #REQUIRED
    player_id CDATA #REQUIRED
    bid CDATA #IMPLIED
    type CDATA #REQUIRED
    player_name CDATA #IMPLIED
>

<!ELEMENT merchant_shopids EMPTY>
<!ATTLIST merchant_shopids
    shop_id CDATA #REQUIRED
    npc_id CDATA #IMPLIED
>

<!ELEMENT merchants EMPTY>
<!ATTLIST merchants
    npc_id CDATA #REQUIRED
    merchant_area_id CDATA #IMPLIED
>

<!ELEMENT minions EMPTY>
<!ATTLIST minions
    boss_id CDATA #REQUIRED
    minion_id CDATA #REQUIRED
    amount_min CDATA #REQUIRED
    amount_max CDATA #REQUIRED
>

<!ELEMENT npc EMPTY>
<!ATTLIST npc
    id CDATA #REQUIRED
    idTemplate CDATA #REQUIRED
    name CDATA #IMPLIED
    serverSideName CDATA #IMPLIED
    title CDATA #IMPLIED
    serverSideTitle CDATA #IMPLIED
    class CDATA #IMPLIED
    collision_radius CDATA #IMPLIED
    collision_height CDATA #IMPLIED
    level CDATA #IMPLIED
    sex CDATA #IMPLIED
    type CDATA #IMPLIED
    attackrange CDATA #IMPLIED
    hp CDATA #IMPLIED
    mp CDATA #IMPLIED
    str CDATA #IMPLIED
    con CDATA #IMPLIED
    dex CDATA #IMPLIED
    int CDATA #IMPLIED
    wit CDATA #IMPLIED
    men CDATA #IMPLIED
    exp CDATA #IMPLIED
    sp CDATA #IMPLIED
    patk CDATA #IMPLIED
    pdef CDATA #IMPLIED
    matk CDATA #IMPLIED
    mdef CDATA #IMPLIED
    atkspd CDATA #IMPLIED
    aggro CDATA #IMPLIED
    matkspd CDATA #IMPLIED
    rhand CDATA #IMPLIED
    lhand CDATA #IMPLIED
    armor CDATA #IMPLIED
    walkspd CDATA #IMPLIED
    runspd CDATA #IMPLIED
    faction_id CDATA #IMPLIED
    faction_range CDATA #IMPLIED
    isUndead CDATA #IMPLIED
    absorb_level CDATA #IMPLIED
>

<!ELEMENT npcskills EMPTY>
<!ATTLIST npcskills
    npcid CDATA #REQUIRED
    skillid CDATA #REQUIRED
    level CDATA #REQUIRED
>

<!ELEMENT olympiad_nobles EMPTY>
<!ATTLIST olympiad_nobles
    char_id CDATA #REQUIRED
    class_id CDATA #REQUIRED
    char_name CDATA #REQUIRED
    olympiad_points CDATA #REQUIRED
    competitions_done CDATA #REQUIRED
>

<!ELEMENT petitions EMPTY>
<!ATTLIST petitions
    petition_id CDATA #REQUIRED
    char_id CDATA #REQUIRED
    petition_txt CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT pets EMPTY>
<!ATTLIST pets
    item_obj_id CDATA #REQUIRED
    objId CDATA #IMPLIED
    name CDATA #IMPLIED
    level CDATA #IMPLIED
    maxHp CDATA #IMPLIED
    curHp CDATA #IMPLIED
    maxMp CDATA #IMPLIED
    curMp CDATA #IMPLIED
    acc CDATA #IMPLIED
    crit CDATA #IMPLIED
    evasion CDATA #IMPLIED
    mAtk CDATA #IMPLIED
    mDef CDATA #IMPLIED
    mSpd CDATA #IMPLIED
    pAtk CDATA #IMPLIED
    pDef CDATA #IMPLIED
    pSpd CDATA #IMPLIED
    str CDATA #IMPLIED
    con CDATA #IMPLIED
    dex CDATA #IMPLIED
    _int CDATA #IMPLIED
    men CDATA #IMPLIED
    wit CDATA #IMPLIED
    exp CDATA #IMPLIED
    sp CDATA #IMPLIED
    karma CDATA #IMPLIED
    pkkills CDATA #IMPLIED
    maxload CDATA #IMPLIED
    fed CDATA #IMPLIED
    max_fed CDATA #IMPLIED
>

<!ELEMENT pets_stats EMPTY>
<!ATTLIST pets_stats
    type CDATA #REQUIRED
    typeID CDATA #REQUIRED
    level CDATA #REQUIRED
    expMax CDATA #REQUIRED
    hpMax CDATA #REQUIRED
    mpMax CDATA #REQUIRED
    patk CDATA #REQUIRED
    pdef CDATA #REQUIRED
    matk CDATA #REQUIRED
    mdef CDATA #REQUIRED
    acc CDATA #REQUIRED
    evasion CDATA #REQUIRED
    crit CDATA #REQUIRED
    speed CDATA #REQUIRED
    atk_speed CDATA #REQUIRED
    cast_speed CDATA #REQUIRED
    feedMax CDATA #REQUIRED
    feedbattle CDATA #REQUIRED
    feednormal CDATA #REQUIRED
    loadMax CDATA #REQUIRED
    hpregen CDATA #REQUIRED
    mpregen CDATA #REQUIRED
>

<!ELEMENT pledge_skill_trees EMPTY>
<!ATTLIST pledge_skill_trees
    skill_id CDATA #IMPLIED
    level CDATA #IMPLIED
    name CDATA #IMPLIED
    clan_lvl CDATA #IMPLIED
    Description CDATA #IMPLIED
    repCost CDATA #IMPLIED
    itemId CDATA #IMPLIED
>

<!ELEMENT posts EMPTY>
<!ATTLIST posts
    post_id CDATA #REQUIRED
    post_owner_name CDATA #REQUIRED
    post_ownerid CDATA #REQUIRED
    post_date CDATA #REQUIRED
    post_topic_id CDATA #REQUIRED
    post_forum_id CDATA #REQUIRED
    post_txt CDATA #REQUIRED
>

<!ELEMENT raidboss_spawnlist EMPTY>
<!ATTLIST raidboss_spawnlist
    boss_id CDATA #REQUIRED
    amount CDATA #REQUIRED
    loc_x CDATA #REQUIRED
    loc_y CDATA #REQUIRED
    loc_z CDATA #REQUIRED
    heading CDATA #REQUIRED
    respawn_delay CDATA #REQUIRED
    respawn_time CDATA #REQUIRED
    currentHp CDATA #IMPLIED
    currentMp CDATA #IMPLIED
>

<!ELEMENT random_spawn EMPTY>
<!ATTLIST random_spawn
    groupId CDATA #REQUIRED
    npcId CDATA #REQUIRED
    count CDATA #REQUIRED
    initialDelay CDATA #REQUIRED
    respawnDelay CDATA #REQUIRED
    despawnDelay CDATA #REQUIRED
    broadcastSpawn CDATA #REQUIRED
    randomSpawn CDATA #REQUIRED
>

<!ELEMENT random_spawn_loc EMPTY>
<!ATTLIST random_spawn_loc
    groupId CDATA #REQUIRED
    x CDATA #REQUIRED
    y CDATA #REQUIRED
    z CDATA #REQUIRED
    heading CDATA #REQUIRED
>

<!ELEMENT record EMPTY>
<!ATTLIST record
    maxplayer CDATA #REQUIRED
    date CDATA #REQUIRED
>

<!ELEMENT seven_signs EMPTY>
<!ATTLIST seven_signs
    char_obj_id CDATA #REQUIRED
    cabal CDATA #REQUIRED
    seal CDATA #REQUIRED
    red_stones CDATA #REQUIRED
    green_stones CDATA #REQUIRED
    blue_stones CDATA #REQUIRED
    ancient_adena_amount CDATA #REQUIRED
    contribution_score CDATA #REQUIRED
>

<!ELEMENT seven_signs_festival EMPTY>
<!ATTLIST seven_signs_festival
    festivalId CDATA #REQUIRED
    cabal CDATA #REQUIRED
    cycle CDATA #REQUIRED
    date CDATA #IMPLIED
    score CDATA #REQUIRED
    members CDATA #REQUIRED
>

<!ELEMENT seven_signs_status EMPTY>
<!ATTLIST seven_signs_status
    id CDATA #REQUIRED
    current_cycle CDATA #REQUIRED
    festival_cycle CDATA #REQUIRED
    active_period CDATA #REQUIRED
    date CDATA #REQUIRED
    previous_winner CDATA #REQUIRED
    dawn_stone_score CDATA #REQUIRED
    dawn_festival_score CDATA #REQUIRED
    dusk_stone_score CDATA #REQUIRED
    dusk_festival_score CDATA #REQUIRED
    avarice_owner CDATA #REQUIRED
    gnosis_owner CDATA #REQUIRED
    strife_owner CDATA #REQUIRED
    avarice_dawn_score CDATA #REQUIRED
    gnosis_dawn_score CDATA #REQUIRED
    strife_dawn_score CDATA #REQUIRED
    avarice_dusk_score CDATA #REQUIRED
    gnosis_dusk_score CDATA #REQUIRED
    strife_dusk_score CDATA #REQUIRED
    accumulated_bonus0 CDATA #REQUIRED
    accumulated_bonus1 CDATA #REQUIRED
    accumulated_bonus2 CDATA #REQUIRED
    accumulated_bonus3 CDATA #REQUIRED
    accumulated_bonus4 CDATA #REQUIRED
>

<!ELEMENT siege_clans EMPTY>
<!ATTLIST siege_clans
    castle_id CDATA #REQUIRED
    clan_id CDATA #REQUIRED
    type CDATA #IMPLIED
    castle_owner CDATA #IMPLIED
>

<!ELEMENT skill_learn EMPTY>
<!ATTLIST skill_learn
    npc_id CDATA #REQUIRED
    class_id CDATA #REQUIRED
>

<!ELEMENT skill_spellbooks EMPTY>
<!ATTLIST skill_spellbooks
    skill_id CDATA #REQUIRED
    item_id CDATA #REQUIRED
>

<!ELEMENT skill_trees EMPTY>
<!ATTLIST skill_trees
    class_id CDATA #REQUIRED
    skill_id CDATA #REQUIRED
    level CDATA #REQUIRED
    name CDATA #REQUIRED
    sp CDATA #REQUIRED
    min_level CDATA #REQUIRED
>

<!ELEMENT spawnlist EMPTY>
<!ATTLIST spawnlist
    id CDATA #REQUIRED
    location CDATA #REQUIRED
    count CDATA #REQUIRED
    npc_templateid CDATA #REQUIRED
    locx CDATA #REQUIRED
    locy CDATA #REQUIRED
    locz CDATA #REQUIRED
    randomx CDATA #REQUIRED
    randomy CDATA #REQUIRED
    heading CDATA #REQUIRED
    respawn_delay CDATA #REQUIRED
    loc_id CDATA #REQUIRED
    periodOfDay CDATA #IMPLIED
>

<!ELEMENT teleport EMPTY>
<!ATTLIST teleport
    Description CDATA #IMPLIED
    id CDATA #REQUIRED
    loc_x CDATA #IMPLIED
    loc_y CDATA #IMPLIED
    loc_z CDATA #IMPLIED
    price CDATA #IMPLIED
>

<!ELEMENT temporaryobjecttable EMPTY>
<!ATTLIST temporaryobjecttable
    object_id CDATA #REQUIRED
>

<!ELEMENT topic EMPTY>
<!ATTLIST topic
    topic_id CDATA #REQUIRED
    topic_forum_id CDATA #REQUIRED
    topic_name CDATA #REQUIRED
    topic_date CDATA #REQUIRED
    topic_ownername CDATA #REQUIRED
    topic_ownerid CDATA #REQUIRED
    topic_type CDATA #REQUIRED
    topic_reply CDATA #REQUIRED
>

<!ELEMENT weapon EMPTY>
<!ATTLIST weapon
    item_id CDATA #REQUIRED
    name CDATA #IMPLIED
    bodypart CDATA #IMPLIED
    crystallizable CDATA #IMPLIED
    weight CDATA #IMPLIED
    soulshots CDATA #IMPLIED
    spiritshots CDATA #IMPLIED
    material CDATA #IMPLIED
    crystal_type CDATA #IMPLIED
    p_dam CDATA #IMPLIED
    rnd_dam CDATA #IMPLIED
    weaponType CDATA #IMPLIED
    critical CDATA #IMPLIED
    hit_modify CDATA #IMPLIED
    avoid_modify CDATA #IMPLIED
    shield_def CDATA #IMPLIED
    shield_def_rate CDATA #IMPLIED
    atk_speed CDATA #IMPLIED
    mp_consume CDATA #IMPLIED
    m_dam CDATA #IMPLIED
    durability CDATA #IMPLIED
    price CDATA #IMPLIED
    crystal_count CDATA #IMPLIED
    sellable CDATA #IMPLIED
>

<!ELEMENT zariche EMPTY>
<!ATTLIST zariche
    playerId CDATA #REQUIRED
    playerKarma CDATA #IMPLIED
    playerPkKills CDATA #IMPLIED
    nbKills CDATA #IMPLIED
    endTime CDATA #IMPLIED
>

<!ELEMENT zone EMPTY>
<!ATTLIST zone
    id CDATA #REQUIRED
    type CDATA #REQUIRED
    name CDATA #REQUIRED
    x1 CDATA #REQUIRED
    y1 CDATA #REQUIRED
    x2 CDATA #REQUIRED
    y2 CDATA #REQUIRED
    z CDATA #REQUIRED
    z2 CDATA #REQUIRED
    taxById CDATA #REQUIRED
>

